// cahnged my grid points because the average phone has a width of 350-450 px and
// bootstraps sm: 576px is too big
$grid-breakpoints: (
  xs: 0,
  sm: 400px,
  md: 668px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Services accordian SASS customs
$accordion-button-active-bg: transparent;

$accordion-button-focus-border-color:     transparent;
$accordion-button-focus-box-shadow:       transparent;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");


/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

// .navbar{
//     background-color:  rgba(0, 0, 0, 0.5);
// }

// *{
//   border: solid 2px pink;
// }

html{
  // fixes mobile issue
  overflow-x: hidden;
}

///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///   Navigtation Section

// nav button rules
.navbtn{
  padding-left: 30px;
  padding-right: 30px;
  border: 3px solid lightgray;
  border-radius: 100px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 10px;
  font-size: .8rem;

  @include media-breakpoint-down(lg){
      font-size: 1.2rem;
      text-align: center !important;
      padding-left: 100px;
      padding-right: 100px;
      margin-bottom: 5px;
      }
  @include media-breakpoint-down(md){
      text-align: center !important;
      margin-right: auto;
      font-size: 1rem;
      margin-bottom: 5px;
  }
}

/////////////////////////////////////////
// full screen drop down hamburger menu

// trying this for mobile but still not working
@media only screen and (max-width: 992px) and (orientation: portrait) and (pointer: coarse) {
  .navbar-collapse {
    position: fixed;
    // this gives 80px at top to still display the logo/hamburger icon
    // might need adjusting if the size of logo changes
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #333;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .navbar-nav > li {
      padding-bottom: 25px;
    display: block;
    margin: 0;
    text-align: center;
  }
}

@media(max-width: 992px){
  .navbar-collapse {
    position: fixed;
    // this gives 80px at top to still display the logo/hamburger icon
    // might need adjusting if the size of logo changes
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #333;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .navbar-nav > li {
      padding-bottom: 25px;
    display: block;
    margin: 0;
    text-align: center;
  }
}

// fills in the gap created by the navBar for element below it
.navBarClearFix{
  height: 80px;
}
///////////////////////////////////////////////////////////////////////////
/// End of Nav Rules
//////////////////////////////////////////////////////////////////////////////
 

///////////////////////////////////////////////////////////////////////////
//  Video Jumbotron Rules
/////////////////////////////////////////////////////////////////////////////

#video-background { 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width:100%;
}

.videoContainer{
position: relative;
#video-background{
  display: block;
  width: 100%;
  height: auto;
}
.jumboMessage{
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Unbounded', cursive;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: black;
  transition: color 3s ease-out;
  filter: opacity(.5);
  &:hover{
    color: white;
    filter: opacity(.9);
  }
}
}

// flashing arrow
.material-symbols-outlined {
  color: black;
  filter: opacity(.5);
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
// .material-symbols-outlined {
//   font-variation-settings:
//   'FILL' 1,
//   'wght' 700,
//   'GRAD' 0,
//   'opsz' 48
// }

.arrow {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 50px;
  height: 50px;
  animation: flashing 3s ease-in-out 3;
}
@keyframes flashing {
  0% {
    opacity: 1;
    color: black;
  }
  50% {
    opacity: 0;
    color: white;
  }
  100% {
    opacity: 1;
    color: black;
  }
}
///////////////////////////////////////////////////////////////////////////
//  End of Video Jumbotron Rules
/////////////////////////////////////////////////////////////////////////////



/* Style the full-screen overlay */
// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 999;
//   display: none;
// }

/* Show the full-screen overlay when the hamburger menu is clicked */
// .navbar-toggler:focus + .overlay {
//   display: block;
// }


// testing this code for dropdown nav
// .navList{
//     text-align: end!important;
//     margin-left: auto;
//     @include media-breakpoint-down(lg){
//         font-size: 1.2rem;
//         text-align: center !important;
//         }
//     @include media-breakpoint-down(md){
//         text-align: center !important;
//         margin-right: auto;
//         font-size: 2rem;
//     }
// }



///////////////////////////////////////////////////////////////////////////
//  About Us Section Rules
/////////////////////////////////////////////////////////////////////////////
.aboutUsBackground{
    background-image: url(../images/TEST-LENSJG-FULL-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


@media(max-width: 992px){
  // background-image: url(../images/TEST-LENSJG-FULL-1.jpg);
}

// this is for javascript code for fade in effect when scrolling
// this begins at the aboutUs section
.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
.fade-in.show {
  opacity: 1;
}

///////////////////////////////////////////////////////////////////////////
//  End of About Us Section Rules
/////////////////////////////////////////////////////////////////////////////




/////////////////////////////////////////
// Services Section
.accordion-item{
  border: transparent 5px;
}
.service-img{
  &:hover{
    filter: opacity(.7);
    cursor: pointer;
  }
}



/////////////////////////////////////////
// Footer Section
.footbtn, .sendbtn{
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid lightgray;
  border-radius: 100px;
  padding-top: 5px;
  margin-left: 10px;
  &:hover{
    scale: 1.1;
  }

//   @include media-breakpoint-down(lg){
//       font-size: 1.2rem;
//       text-align: center !important;
//       padding-left: 100px;
//       padding-right: 100px;
//       margin-bottom: 5px;
//       }
//   @include media-breakpoint-down(md){
//       text-align: center !important;
//       margin-right: auto;
//       font-size: 1rem;
//       margin-bottom: 5px;
//   }
//   @include media-breakpoint-down(sm){
//     text-align: center !important;
//     margin-right: auto;
//     font-size: 1rem;
//     margin-bottom: 5px;
//     padding-left: 15px;
//     padding-right: 15px;
// }
}

/////////////////////////////////////////////////////////////// 
/////////////////////////////////////////////////////////////// 
// projects page section
/////////////////////////////////////////////////////////////// 
///////////////////////////////////////////////////////////////// 


.galleriesMessage{
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Unbounded', cursive;
  font-size: 5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: black;
  transition: color 3s ease-out;
  filter: opacity(.5);
  &:hover{
    color: white;
    filter: opacity(.9);
  }
  @media(max-width: 400px){
    font-size: 2rem;
    top: 15%;
    left: 50%;
  }
}

.studioCover{

margin-top: 100px;
margin-left: 50px;
position: relative;
display: inline-block;
@media(max-width: 400px){
  margin-top: 50px;
  margin-left: 0px;
  margin-bottom: 25px;
}
}

.projectsImg{
  width: 80%;
  border-radius: 50px;
  transition: transform 1.5s ease-in-out;
  &:hover{
    transform: scale(1.1);
    filter: opacity(.8);
  }
}

.projectsHeaderLeft{
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Unbounded', cursive;

  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 3rem;
  @media(max-width: 992px){
    font-size: 2rem;
  }
  @media(max-width: 400px){
    
    top: 100%;
    left: 50%;
    h1{
      font-size: 1.5rem;
    }
    h4{
      margin-top: 5px;
      font-size: .9rem;
    }
  }
  z-index: 1;
  color: white;
  transition: color 3s ease-out;
  filter: opacity(.5);
  &:hover{
    color: white;
    filter: opacity(.9);
  }
}

.projectsHeaderRight{
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Unbounded', cursive;

  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 3rem;
  @media(max-width: 992px){
    font-size: 2rem;
  }
  @media(max-width: 400px){
    h1{
      font-size: 1.5rem;
    }
    h4{
      margin-top: 5px;
      font-size: .9rem;
    }
    top: 100%;
    left: 50%;
  }
  z-index: 1;
  color: white;
  transition: color 3s ease-out;
  filter: opacity(.5);
  &:hover{
    color: white;
    filter: opacity(.9);
  }
}

.galleryLink{
  color: #fff !important;
  cursor: pointer;
}


// this also needs to be kept at the bottom of the scss so it is not over written by other rules
// this is for javascript code for fade in effect when scrolling
// this begins at the aboutUs section
.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
.fade-in.show {
  opacity: 1;
}