// cahnged my grid points because the average phone has a width of 350-450 px and
// bootstraps sm: 576px is too big
$grid-breakpoints: (
  xs: 0,
  sm: 400px,
  md: 668px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Services accordian SASS customs
$accordion-button-active-bg: transparent;

$accordion-button-focus-border-color:     transparent;
$accordion-button-focus-box-shadow:       transparent;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");


/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

// .navbar{
//     background-color:  rgba(0, 0, 0, 0.5);
// }

// *{
//   border: solid 2px pink;
// }

html{
  // fixes mobile issue
  overflow-x: hidden;
}

.navbtn{
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid lightgray;
    border-radius: 100px;
    padding-top: 5px;
    margin-left: 10px;

    @include media-breakpoint-down(lg){
        font-size: 1.2rem;
        text-align: center !important;
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 5px;
        }
    @include media-breakpoint-down(md){
        text-align: center !important;
        margin-right: auto;
        font-size: 1rem;
        margin-bottom: 5px;
    }
}

/////////////////////////////////////////
// full screen drop down hamburger menu

// trying this for mobile but still not working
@media only screen and (max-width: 992px) and (orientation: portrait) and (pointer: coarse) {
    .navbar-collapse {
      position: fixed;
      // this gives 80px at top to still display the logo/hamburger icon
      // might need adjusting if the size of logo changes
      top: 80px;
      left: 0;
      width: 100%;
      height: calc(100vh - 80px);
      background-color: #333;
      padding: 20px;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  
    .navbar-nav > li {
        padding-bottom: 25px;
      display: block;
      margin: 0;
      text-align: center;
    }
  }

  @media(max-width: 992px){
    .navbar-collapse {
      position: fixed;
      // this gives 80px at top to still display the logo/hamburger icon
      // might need adjusting if the size of logo changes
      top: 80px;
      left: 0;
      width: 100%;
      height: calc(100vh - 80px);
      background-color: #333;
      padding: 20px;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  
    .navbar-nav > li {
        padding-bottom: 25px;
      display: block;
      margin: 0;
      text-align: center;
    }
  }
/////////////////////////////////////////


/* Style the full-screen overlay */
// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 999;
//   display: none;
// }

/* Show the full-screen overlay when the hamburger menu is clicked */
// .navbar-toggler:focus + .overlay {
//   display: block;
// }


// testing this code for dropdown nav
// .navList{
//     text-align: end!important;
//     margin-left: auto;
//     @include media-breakpoint-down(lg){
//         font-size: 1.2rem;
//         text-align: center !important;
//         }
//     @include media-breakpoint-down(md){
//         text-align: center !important;
//         margin-right: auto;
//         font-size: 2rem;
//     }
// }


  #video-background { 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      width:100%;
  }

  .videoContainer{
    position: relative;
    #video-background{
      display: block;
      width: 100%;
      height: auto;
    }
    .jumboMessage{
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: white;
      filter: opacity(.5);
      &:hover{
        filter: opacity(.9);
        scale: 1.2;
      }
  }
  }



/////////////////////////////////////////
// aboutUs Section
#aboutUs{
    background-image: url(../images/temp_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}





/////////////////////////////////////////
// Services Section
.accordion-item{
  border: transparent 5px;
}
.service-img{
  &:hover{
    filter: opacity(.7);
    cursor: pointer;
  }
}



/////////////////////////////////////////
// Footer Section
.footbtn, .sendbtn{
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid lightgray;
  border-radius: 100px;
  padding-top: 5px;
  margin-left: 10px;
  &:hover{
    scale: 1.1;
  }

//   @include media-breakpoint-down(lg){
//       font-size: 1.2rem;
//       text-align: center !important;
//       padding-left: 100px;
//       padding-right: 100px;
//       margin-bottom: 5px;
//       }
//   @include media-breakpoint-down(md){
//       text-align: center !important;
//       margin-right: auto;
//       font-size: 1rem;
//       margin-bottom: 5px;
//   }
//   @include media-breakpoint-down(sm){
//     text-align: center !important;
//     margin-right: auto;
//     font-size: 1rem;
//     margin-bottom: 5px;
//     padding-left: 15px;
//     padding-right: 15px;
// }
}