// cahnged my grid points because the average phone has a width of 350-450 px and
// bootstraps sm: 576px is too big
$grid-breakpoints: (
  xs: 0,
  sm: 400px,
  md: 668px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

// .navbar{
//     background-color:  rgba(0, 0, 0, 0.5);
// }

.btn{
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid lightgray;
    border-radius: 100px;
    padding-top: 5px;
    margin-left: 10px;

    @include media-breakpoint-down(lg){
        font-size: 1.2rem;
        text-align: center !important;
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 5px;
        }
    @include media-breakpoint-down(md){
        text-align: center !important;
        margin-right: auto;
        font-size: 2rem;
        margin-bottom: 5px;
    }
}

/////////////////////////////////////////
// full screen drop down hamburger menu
@media (max-width: 992px) {
    .navbar-collapse {
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      height: calc(100% - 50px);
      background-color: #333;
      padding: 20px;
    //   overflow-y: scroll;
    }
  
    .navbar-nav > li {
        padding-bottom: 25px;
      display: block;
      margin: 0;
      text-align: center;
    }
  }
/////////////////////////////////////////



// testing this code for dropdown nav
.navList{
    text-align: end!important;
    margin-left: auto;
    @include media-breakpoint-down(lg){
        font-size: 1.2rem;
        text-align: center !important;
        }
    @include media-breakpoint-down(md){
        text-align: center !important;
        margin-right: auto;
        font-size: 2rem;
    }
}


  #video-background { 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      width:100%;
  }


// .jumboMessage{
//     position: relative;
//     padding-top: -500px;
// }

/////////////////////////////////////////
// aboutUs Section
#aboutUs{
    background-image: url(../images/temp_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}